<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

	<style>
body {
  font-family: "Lato", sans-serif;
  background-color: #E3DAC9;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F5F5F5;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: white;
  background-color: black;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.image{
	height: 60px;
	width: 100px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>
<body>
<!--Navbar -->

	<div class="sidenav">
		<center><img src="images.png" style="width: 90%;"></center>
  <hr><a href="yow.html" class="waves-effect"><span class="badge badge-primary float-right">3</span> <span> Dashboard </span></a>
  <hr>
  <a href="#services">Services</a>
  <hr>

  <a href="#clients">Clients</a>
  <hr>
  <a href="#contact">Contact</a>
  <hr>
</div>

    <nav class="mb-1 navbar navbar-expand-lg navbar navbar-dark bg-dark">
    	  <img src="11.jpg" style="margin-left: 250px" class="image">
      <ul class="navbar-nav ml-auto nav-flex-icons">
      	<form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
      <li class="nav-item">

        <a class="nav-link waves-effect waves-light">1
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
</svg>
        </a>
      </li>
     <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
            alt="avatar image" height="35">
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

      </li>
    </ul>
  </div>
  </nav>
  </nav>
  			<img src="bg.jpg" style="height: 258px; width: 80.5%; margin-left: 260px; margin-bottom: -80px ">
  			
  				<div class="page-content-wrapper">
                            <div class="row" style="margin-left: 230px">
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary mini-stat position-relative">
                                        <div class="card-body">
                                            <div class="mini-stat-desc">
                                                <h6 class="text-uppercase verti-label text-white-50">Orders</h6>
                                                <div class="text-white">
                                                    <h6 class="text-uppercase mt-0 text-white-50">Orders</h6>
                                                    <h3 class="mb-3 mt-0">1,587</h3>
                                                    <div class="">
                                                        <span class="badge badge-light text-info"> +11% </span> <span class="ml-2">From previous period</span>
                                                    </div>
                                                </div>
                                                <div class="mini-stat-icon">
                                                    <i class="mdi mdi-cube-outline display-2"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary mini-stat position-relative">
                                        <div class="card-body">
                                            <div class="mini-stat-desc">
                                                <h6 class="text-uppercase verti-label text-white-50">Revenue</h6>
                                                <div class="text-white">
                                                    <h6 class="text-uppercase mt-0 text-white-50">Revenue</h6>
                                                    <h3 class="mb-3 mt-0">$46,785</h3>
                                                    <div class="">
                                                        <span class="badge badge-light text-danger"> -29% </span> <span class="ml-2">From previous period</span>
                                                    </div>
                                                </div>
                                                <div class="mini-stat-icon">
                                                    <i class="mdi mdi-buffer display-2"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary mini-stat position-relative">
                                        <div class="card-body">
                                            <div class="mini-stat-desc">
                                                <h6 class="text-uppercase verti-label text-white-50">Av. Price</h6>
                                                <div class="text-white">
                                                    <h6 class="text-uppercase mt-0 text-white-50">Average Price</h6>
                                                    <h3 class="mb-3 mt-0">15.9</h3>
                                                    <div class="">
                                                        <span class="badge badge-light text-primary"> 0% </span> <span class="ml-2">From previous period</span>
                                                    </div>
                                                </div>
                                                <div class="mini-stat-icon">
                                                    <i class="mdi mdi-tag-text-outline display-2"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-primary mini-stat position-relative">
                                        <div class="card-body">
                                            <div class="mini-stat-desc">
                                                <h6 class="text-uppercase verti-label text-white-50">Pr. Sold</h6>
                                                <div class="text-white">
                                                    <h6 class="text-uppercase mt-0 text-white-50">Product Sold</h6>
                                                    <h3 class="mb-3 mt-0">1890</h3>
                                                    <div class="">
                                                        <span class="badge badge-light text-info"> +89% </span> <span class="ml-2">From previous period</span>
                                                    </div>
                                                </div>
                                                <div class="mini-stat-icon">
                                                    <i class="mdi mdi-briefcase-check display-2"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                          <div class="container" style="margin-left: 238px ">
                          	<div style="background-color: white; height: 50px ">
                          		<b>Back Logs</b><button type="button" class="btn btn-outline-success" style="margin-left:950px">ADD</button>
                          	</div>
                       <table class="table" style="background-color: white">
  <thead>
    <tr>
      <th scope="col" style="width: 50px">ID</th>
      <th scope="col" style="width: 110px">Task Name</th>
      <th scope="col" style="width: 110px">Task Created</th>
      <th scope="col"style="width: 110px">Due Date</th>
      <th scope="col"style="width: 110px">Completion</th>
      <th scope="col"style="width: 50px">Priority</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>1</td>
      <td>@mdo</td>


    </tr>
  </div>
</table>
</body>
</html>